@import "tailwindcss";

@theme {
  /* Aquí puedes añadir variables personalizadas si quieres */
  --font-sans: 'Inter', ui-sans-serif, system-ui;
}

:root {
  background: #f8fafc;
  color: #0f172a;
}

/* Animación para el error de login */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}